* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'TT Lakes', sans-serif;
    background-color: #F2F2F2;
}

.repair-container {
    margin: 0 auto;
    /*min-width: 320px;*/
}

.repair-header {
    height: 80px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    padding: 16px 0 0 16px;
    border-top: 2px solid #D9FFF5;
}

.repair-title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 300;
    text-transform: uppercase;
    color: #7E7E82;
}

.repair-main {
    height: 154px;
}

.swiper {
    margin: 16px 0 0 16px;
    height: 100px;
}

.swiper-wrapper {
    list-style: none;
    width: 240px;
}

.swiper-slide:last-child {
    margin-right: 16px;
}

.swiper-slide__button {
    position: relative;
    width: 240px;
    height: 72px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    cursor: pointer;
}

.swiper-slide__button::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    top: 13px;
    right: 16px;
}

.swiper-slide__button::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-right: 2px solid #FF3E79;
    border-bottom: 2px solid #FF3E79;
    transform: rotate(-45deg);
    top: 30px;
    right: 34px;
}

.swiper-slide__button:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.swiper-slide__button:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.swiper-slide__icon {
    position: absolute;
    left: 16px;
    top: 0;
}

/*Brands*/
.swiper-slide__lenovo {
    top: 21px;
}

.swiper-slide__samsung {
    top: 18px;
}

.swiper-slide__apple {
    top: 12px;
}

.swiper-slide__viewSonic {
    top: 25px;
}

.swiper-slide__bosch {
    top: 22px;
}

.swiper-slide__hp {
    top: 10px;
}

.swiper-slide__acer {
    top: 25px;
}

.swiper-slide__sony {
    top: 23px;
}

.swiper-pagination {
    transform: translate(-5px, 15px);
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #B5B6BC;
}

.show-more {
    display: none;
}

/*TABLET VERSION*/
@media screen and (min-width: 768px) {
    .repair-container {
        /*min-width: 768px;*/
        max-height: 338px;
        transition: height 1s;
    }

    .repair-container--overflow--hidden {
        height: 288px;
    }

    .repair-container--overflow--visible {
        height: 468px;
        /*max-height: 468px;*/
        /*height: auto;*/
    }

    .repair-header {
        height: 56px;
        padding: 15px 0 0 24px;
    }

    .repair-main {
        /*height: 266px;*/
        height: inherit;
        padding: 0 24px;
    }

    .swiper {
        margin: 16px 0 0 0;
        transition: height 1s;
    }

    .swiper--overflow--hidden {
        height: 160px;
    }

    .swiper--overflow--visible {
        height: 87%;
        /*max-height: 338px;*/
        /*height: auto;*/
    }

    .swiper-wrapper {
        display: flex;
        justify-content: space-around;
        list-style: none;
        flex-wrap: wrap;
        width: 100%;
        /*height: 200px;*/
        height: auto;
        gap: 16px 24px;
    }

    .swiper-slide {
        width: 224px;
        height: 72px;
    }
    .swiper-slide__button {
        width: 224px;
    }

    .swiper-pagination {
        display: none;
    }

    .show-more {
        margin-top: 24px;
        display: block;
        width: 120px;
        height: 24px;
        background: url("../icons/arrow-down.png") no-repeat left 50%;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        text-align: right;
        border: none;
        cursor: pointer;
    }

    .show-more--clicked {
        background: url("../icons/arrow-up.png") no-repeat left 50%;
        width: 80px;
    }
    /*.show-more::before {*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    width: 7px;*/
    /*    height: 7px;*/
    /*    border-bottom: 2px solid #41F6D7;*/
    /*    border-right: 2px solid #41F6D7;*/
    /*    transform: rotate(45deg);*/
    /*    top: 2px;*/
    /*    left: 2px;*/
    /*}*/

    /*.show-more::after {*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    width: 7px;*/
    /*    height: 7px;*/
    /*    border-bottom: 2px solid #41F6D7;*/
    /*    border-right: 2px solid #41F6D7;*/
    /*    transform: rotate(45deg);*/
    /*    top: 8px;*/
    /*    left: 2px;*/
    /*}*/

    /*.show-more--clicked::before {*/
    /*    transform: rotate(225deg);*/
    /*}*/

    /*.show-more--clicked::after {*/
    /*    transform: rotate(225deg);*/
    /*}*/
}

/*DESKTOP VERSION*/
@media screen and (min-width: 1120px){
    .repair-container {
        /*min-width: 1120px;*/
    }

    .repair-container--overflow--hidden {
        height: 295px;
    }

    .repair-container--overflow--visible {
        height: 385px;
    }

    .repair-header {
        padding: 16px 0 0 33px;
    }

    .repair-main {
        height: 356px;
        padding: 0 32px;
    }

    .swiper {
        margin: 24px 0 0 0;
    }

    .swiper--overflow--visible {
        height: 250px;
    }

    .swiper-wrapper {
        gap: 16px 32px;
    }

    .swiper-slide {
        width: 240px;
    }
    .swiper-slide__button {
        width: 240px;
    }
}

/*Добавил, потому что с этого масштаба появляются огрызки*/
/*EXTRA VERSION*/
@media screen and (min-width: 1664px){
    /*.repair-container--overflow--hidden {*/
    /*    height: 300px;*/
    /*}*/

    /*.swiper--overflow--hidden {*/
    /*    height: 190px;*/
    /*}*/

    .show-more {
        display: none;
    }
}