.preview {
    min-height: 509px;
    padding-top: 33px;
    padding-bottom: 35px;
    background: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
}

.preview__header {
    display: flex;
    font-size: 28px;
    color: #1B1C21;
    font-weight: 700;
}

.preview__header::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    left: 0;
}

/*SCROLL*/
.preview__list {
    margin-top: 24px;
    overflow: scroll;
}

.list--scrollbar--hidden::-webkit-scrollbar {
    display: none;
}

.list--scrollbar--hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.preview__link {
    display: block;
    width: 232px;
    height: 40px;
    padding: 7px 0 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    font-weight: 400;
    border: 2px solid transparent;
}

/*LINKS STATUS*/
/*проверить, можно ли сократить*/
.nav-bar__link:focus,
.preview__link:focus,
.text__btn:focus {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

/*проверить, можно ли сократить*/
.nav-bar__link:hover,
.preview__link:hover,
.text__btn:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    position: relative;
}

.text {
    width: 100%;
}

.text__container {
    height: 98px;
    overflow: hidden;
}

.text__paragraph {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.text__btn {
    font-family: 'TT Lakes', sans-serif;
    margin-top: 16px;
    position: relative;
    width: 132px;
    height: 24px;
    font-size: 16px;
    color: #1B1C21;
    text-align: end;
    font-weight: 400;
    background: #F8F8F8;
    border: none;
}

.text__btn::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 11px;
    background: #B8FFEC url("../img/arrow-down.png") no-repeat;
    left: 8px;
    top: 5px;
}

.preview__img {
    display: block;
    width: 110%;
    height: auto;
    transform: translateX(-5%);
}

/*TABLET VERSION*/
@media screen and (min-width: 768px) {
    .preview {
        min-height: 416px;
        padding-top: 24px;
        padding-bottom: 40px;
        background: #F8F8F8;
        display: flex;
        flex-wrap: wrap;
    }

    .preview__list {
        margin-top: 32px;
    }

    .content {
        margin-top: 32px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .text {
        width: 43.4%;
    }

    .text__container {
        height: 160px;
        overflow: hidden;
    }

    .text__paragraph {
        line-height: 20px;
    }

    .preview__img {
        position: static;
        width: 50%;
        height: auto;
    }
}

/*DESKTOP VERSION*/
@media screen and (min-width: 1440px){
    .preview {
        min-height: 535px;
        padding-top: 38px;
        padding-bottom: 49px;
    }

    .preview__header::before {
        display: inline-block;
        position: relative;
        content: "";
        width: 4px;
        height: 40px;
        background: #41F6D7;
        left: -32px;
    }

    .preview__list {
        flex-wrap: wrap;
        overflow: scroll;
        width: 100%;
    }

    .preview__link {
        width: auto;
        padding: 8px 8px 10px 8px;
    }

    .content {
        margin-top: 7px;
    }

    .text {
        width: 46.22%;
    }

    .text__paragraph {
        line-height: 20px;
    }
}
